<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Data POST Form</title>
    <script src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#dataForm").submit();
        });
    </script>

</head>
<body>
<!--/*@thymesVar id="targetUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="b64Data" type="java.lang.String"*/-->
<!--/*@thymesVar id="dataObjectName" type="java.lang.String"*/-->
<form id="dataForm" th:action="${targetUrl}" method="POST">
    <textarea class="form-control" rows="8" style="display: none" th:name="${dataObjectName}"
              th:text="${b64Data}"></textarea>
    <!--/*@thymesVar id="formParams" type="java.util.List<se.idsec.sigval.sigvalservice.controller.form.FormParameter>"*/-->
    <th:block th:each="formParam:${formParams}">
        <input type="hidden" th:name="${formParam.getName()}" th:value="${formParam.getVal()}"/>
    </th:block>
</form>
</body>
</html>