<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Signature Validation Service"/>
    <meta name="author" content="IDsec Solutions AB"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
    <script src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="webjars/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <script src="webjars/bootstrap-select/1.13.18/js/i18n/defaults-sv_SE.min.js"></script>
    <script src="webjars/bootstrap-fileinput/5.2.5/js/fileinput.min.js"></script>
    <script src="webjars/bootstrap-fileinput/5.2.5/js/locales/sv.js"></script>
    <script src="webjars/jquery-cookie/1.4.1-1/jquery.cookie.js"></script>
    <script src="js/upload.js"></script>
    <script src="js/lang.js"></script>

    <link rel="stylesheet" th:href="${basicModel.getBootstrapCss()}"/>
    <link rel="stylesheet" href="webjars/bootstrap-select/1.13.18/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap-fileinput/5.2.5/css/fileinput.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let maxFileSizeKb = /*[[${maxFileSizeKb}]]*/ '5000';
        let lang = /*[[${lang}]]*/ 'sv';
        /*]]>*/
    </script>

    <title th:text="${basicModel.getHtmlTitle()}"></title>
</head>
<body>
<div class="container">
    <div class="card" style="margin-top: 10px">
        <div class="card-header" style="text-align: center">
            <h2>
                <img align="left" th:src="${basicModel.getLogoUrl()}" alt="Logo" height="50">
                <span th:if="${basicModel.isDevmode()}" style='margin-right: 115px'>(<span style='color: #FF500D'>Utveckling</span>)</span>
                <img th:if="${basicModel.getSecondaryLogoUrl() != null}" align='right' th:src="${basicModel.getSecondaryLogoUrl()}" alt='Logo' height='50' >
            </h2>
        </div>
        <div class="card-body">
            <div style="float: right">
                <a th:href="'javascript:selectLang(\'en\',\'' + ${lang} + '\',\'home\')'" th:class="${lang.equalsIgnoreCase('en') ? 'lang-selected':''}">en</a>
                <a th:href="'javascript:selectLang(\'sv\',\'' + ${lang} + '\',\'home\')'" th:class="${lang.equalsIgnoreCase('sv') ? 'lang-selected':''}">sv</a>
            </div>
            <h4 th:text="${text.getString('title1')}"></h4>
            <!-- Upload widget -->
            <div id="uploadDocDiv" class="form-group" style="width: 100%;margin-top: 10px;">
                <label for="uploadedFileInput"><bolder th:text="${text.getString('title2')}"></bolder></label>
                <input id="uploadedFileInput" name="uploadedFile" type="file" multiple="" class="form-control file-loading"/>
                <div id="kv-error-2" style="margin-top:10px;display:none"></div>
                <div id="kv-success-2" class="alert alert-success fade in" style="margin-top:10px;display:none"></div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
