<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Signature Validation Service"/>
    <meta name="author" content="IDsec Solutions AB"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
    <script src="webjars/bootstrap/5.3.8/js/bootstrap.min.js"></script>
    <script src="webjars/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
    <script src="webjars/bootstrap-fileinput/5.5.2/js/locales/sv.js"></script>
    <script src="webjars/js-cookie/3.0.5/dist/js.cookie.min.js"></script>
    <script src="js/upload.js"></script>
    <script src="js/lang.js"></script>

    <link rel="stylesheet" th:href="${basicModel.getBootstrapCss()}"/>
    <link rel="stylesheet" href="webjars/bootstrap-fileinput/5.5.2/css/fileinput.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let maxFileSizeKb = /*[[${maxFileSizeKb}]]*/ '5000';
        let lang = /*[[${lang}]]*/ 'sv';
        let initialCaption = /*[[${initialCaption}]]*/ 'Välj dokument att validera';
        let validateButtonText = /*[[${validateButtonText}]]*/ 'Validera underskrifter';
        /*]]>*/
    </script>

    <title th:text="${basicModel.getHtmlTitle()}"></title>
</head>
<body>
<div class="container">
    <div class="card mt-3">
        <div class="card-header text-center">
            <h2 class="d-flex justify-content-between align-items-center">
                <img class="me-2" th:src="${basicModel.getLogoUrl()}" alt="Logo" height="50">
                <span th:if="${basicModel.isDevmode()}">
                    (<span class="text-warning">Utveckling</span>)
                </span>
                <img th:if="${basicModel.getSecondaryLogoUrl() != null}" class="ms-2" th:src="${basicModel.getSecondaryLogoUrl()}" alt="Logo" height="50">
            </h2>
        </div>
        <div class="card-body">
            <div class="float-end">
                <a th:href="'javascript:selectLang(\'en\',\'' + ${lang} + '\',\'home\')'"
                   th:class="${lang.equalsIgnoreCase('en') ? 'lang-selected text-decoration-none':'text-decoration-none'}" class="me-2">en</a>
                <a th:href="'javascript:selectLang(\'sv\',\'' + ${lang} + '\',\'home\')'"
                   th:class="${lang.equalsIgnoreCase('sv') ? 'lang-selected text-decoration-none':'text-decoration-none'}">sv</a>
            </div>
            <h4 th:text="${text.getString('title1')}"></h4>
            <!-- Upload widget -->
            <div id="uploadDocDiv" class="form-group w-100 mt-3">
                <label class="mb-2" for="uploadedFileInput">
                    <span th:text="${text.getString('title2')}"></span>
                </label>
                <input id="uploadedFileInput" name="uploadedFile" type="file" multiple=""
                       class="form-control file-loading" />
                <div id="kv-error-2" class="mt-3 d-none"></div>
                <div id="kv-success-2" class="alert alert-success fade show mt-3 d-none"></div>
            </div>
        </div>
    </div>
</div>
</body></html>
